.titulo {
  background-color: aliceblue;
  font-size: 25px;
}
.zz{
  background-color: rgb(85, 108, 240);
}
.yy{
  background-color: rgb(154, 157, 160);
}
.dieciocho{
  background-color: rgb(228, 198, 27);
}
.tres{
  background-color: rgb(44, 151, 151);
}
.dos{
  background-color: azure;
}