.titulo {
  background-color: aliceblue;
  font-size: 25px;
}
.dieciseis{
  background-color: rgb(102, 28, 44);
  color: white;
}
.zz{
  background-color: rgb(73, 164, 243);
}
.yy{
  background-color: rgb(154, 157, 160);
}