.titulo {
  background-color: aliceblue;
  font-size: 25px;
}
.zz{
  background-color: rgb(73, 164, 243);
}
.yy{
  background-color: rgb(154, 157, 160);
}
.trece{
  background-color: rgb(255, 163, 78);
}